.bar {
  fill: steelblue;
}

.axis text {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

h2{
  font: sans-serif;
  text-align: center;
}
